<div class="become-partner">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Industry Leading, Next Generation Fintech Products and Solutions</h1>
                <div class="info">
                    <p>Delivering accelerated time to market, exceptional customer experience and operational efficiencies</p>
                </div>            
        </div>
    </div>

    <div class="form">
        <div class="row">
            <div class="col-md-6 ml-1">
                <img src="\assets\images\partner\GaneshR_Pic.jpg" alt="about">
            </div>
            <div class="col-md-5 mr-1">
                <h1>Our Partnership Philosophy</h1>
                <p>“Pennant has always believed in and practiced on having win-win arrangement with all its stakeholders. This approach fully aligns with our corporate philosophy of transparency, trust and collaboration in all our endeavours. We are excited about the tremendous growth opportunity that lies ahead and how partnering with Pennant can lead to greater value-creation for your clients, expanded opportunities for growth and speed to increased revenues.”</p>
                <h4 style="font-size: 140%;"><b>-Ganesh R,</b></h4>
                <p>SVP, Business Development,</p>
                <p>Pennant Technologies</p>
            </div>
        </div>
    </div>

    <div class="secondWidget">
        <h2>Why partnering with Pennant will be a win-win situation?</h2>
        <div class="form-row">

            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; " class="d-block w-20" src="\assets\images\partner\partenering\1.png" alt="1">
                <h3>Innovative, market-leading technology platform</h3>
                <p>- Lending Factory has won numerous global awards and client recognitions</p>
               
            </div>
            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; "class="d-block w-20" src="\assets\images\partner\partenering\2.png" alt="2">
                <h3>Immense opportunity for growth</h3>
                <p>- The Lending market is one of the fastest growing segments within the financial services industry</p>
            </div>
            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; " class="d-block w-20" src="\assets\images\partner\partenering\3.png" alt="3">
                <h3>Higher ROI from the partner program</h3>
                <p>- Lower investments in the program</p>
                 <p>- Faster revenue growth</p>
            </div>

        </div>
    </div>

    <div>
        <div  class="row">
            <div class="col-md-6">
                <p style=" font-size: 240% !important; text-align: justify;"><b>Become a Pennant Partner</b></p>
                <p style=" font-size: 160% !important; text-align: justify;">
                    <b style="color: rgb(245, 84, 10);  cursor: pointer;">
                      <a (click)="showRegistrationForm()">Register</a></b> to know more about our partner program</p>
            </div>
        </div>
    </div>

    <!-- taken another div because it should not move into other page   -->
    <div  class="row" *ngIf="showForm" >
        <div class="col-md-6">
          <app-form (formClosed)="handleFormClosed($event)">
            <p>Partner Register: Please fill the form below</p>
          </app-form>
        </div>
        <div style=" margin-top: 50px;" class="col-md-6">
          <img style=" margin-top: 20px; user-select: none !important; cursor: default; height: 500px; " class="d-block w-20" src="\assets\images\partner\partnerpick.jpg" alt="partnerpick">
        </div>
    </div>
</div>