.background-container {
  background-image: url('/assets/images/partner/partner.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  height: 300px; /* Set a height for the container */
  color: rgb(27, 52, 133);
  padding: 20px; /* Adjust padding as needed */
}

.text-overlay{
  font-size: 150%;
  font-style: bold;
  font-weight: 400;
  padding: 20px;
}

.head{
  color: rgb(27, 52, 133);
  font-size: 220%;
  font-style: bold;
  font-weight: 800;
  width: 800px;
  line-height: 1;
}

.info{
  justify-content:center; 
  margin-top: 30px;
  font-size: 90%;
  width: 500px;
  font-weight: 500;
}

.col-md-6{
  width: 100%;
  padding-right: 0px !important;
  padding-left: 80px;
  user-select: none;
  cursor: default; 
}

.col-md-4{
  padding: 40px;
  text-align: left;
}

.form{
  padding: 40px;
}

img{
  padding-left: 90px;
  width : 60%;
}

.row{
  padding : 40px;
}

.form-row{
  padding : 60px;
}

h1{
  color: black;
  font-size: 260%;
}

h2{
  color:white;
  font-size: 260%;
  font-weight: 30%;
  padding: 30px;
}

h3{
  color:white;
  font-size: 200%;
  font-weight: 60%;
}

p{
  font-size: 120%;
  text-align: justify;
}

.secondWidget{
  background-color: rgb(72, 76, 92) !important;
  color:  white;
  padding:30px;
}

li{
  font-size: 120%;
  text-align: justify;
}

/* Global label style */
label {
  font-size: 16px;
  color: #333; /* Set label text color */
}
