<div class="become-partner">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Industry Leading, Next Generation Fintech Products and Solutions</h1>
                <div class="info">
                    <p>Delivering accelerated time to market, exceptional customer experience and operational efficiencies</p>
                </div>            
        </div>
    </div>

    <div class="form">
        <div class="row">
            <div class="col-md-6 ml-1">
                <img src="\assets\images\partner\GaneshR_Pic.jpg" alt="about">
            </div>
            <div class="col-md-5 mr-1">
                <h1>Our Partnership Philosophy</h1>
                <p>“Pennant has always believed in and practiced on having win-win arrangement with all its stakeholders. This approach fully aligns with our corporate philosophy of transparency, trust and collaboration in all our endeavours. We are excited about the tremendous growth opportunity that lies ahead and how partnering with Pennant can lead to greater value-creation for your clients, expanded opportunities for growth and speed to increased revenues.”</p>
                <h4 style="font-size: 140%;"><b>-Ganesh R,</b></h4>
                <p>SVP, Business Development,</p>
                <p>Pennant Technologies</p>
            </div>
        </div>
    </div>

    <div class="secondWidget">
        <h2>Why partnering with Pennant will be a win-win situation?</h2>
        <div class="form-row">

            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; " class="d-block w-20" src="\assets\images\partner\partenering\1.png" alt="1">
                <h3>Innovative, market-leading technology platform</h3>
                <p>- Lending Factory has won numerous global awards and client recognitions</p>
               
            </div>
            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; "class="d-block w-20" src="\assets\images\partner\partenering\2.png" alt="2">
                <h3>Immense opportunity for growth</h3>
                <p>- The Lending market is one of the fastest growing segments within the financial services industry</p>
            </div>
            <div class="col-md-4 icon">
                <img style=" user-select: none !important; cursor: default; " class="d-block w-20" src="\assets\images\partner\partenering\3.png" alt="3">
                <h3>Higher ROI from the partner program</h3>
                <p>- Lower investments in the program</p>
                 <p>- Faster revenue growth</p>
            </div>

        </div>
    </div>

    <div>
        <div  class="row">
            <div class="col-md-6">
                <p style=" font-size: 240% !important; text-align: justify;"><b>Become a Pennant Partner</b></p>
                <p style=" font-size: 160% !important; text-align: justify;">
                    <b style="color: rgb(245, 84, 10);  cursor: pointer;">
                      <a (click)="showRegistrationForm()">Register</a></b> to know more about our partner program</p>
            </div>
        </div>
    </div>

    <div  class="row" *ngIf="showForm" >
        <div class="col-md-6">
            <form class="registration-form" [formGroup]="registrationForm">
                <h1 style="color: rgb(27, 52, 133); font-weight: 500; padding-bottom: 10px; line-height: 1;">Partner Register: Please fill the form below</h1>
              
                <div style="padding: 0px !important;" class="row">
                  <div style="padding: 0px !important; padding-left: 15px !important ;;" class="col-md-6">
              
                    <div class="form-group">
                      <i class="fa fa-user icon"></i>&nbsp;
                        <label for="username">Username <span class="required">*</span></label>
                        <input type="text"  id="username" formControlName="username" placeholder="Username"  class="form-control" required>
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched" class="text-danger">
                                Username is required.
                            </div>
                            <div *ngIf="registrationForm.get('username')?.hasError('pattern') && registrationForm.get('username')?.touched" class="text-danger">
                              can't be more than 15 characters.
                          </div>
                        </div>
                      </div>
                    
                      <div class="form-group">
                        <i class="fa fa-font icon"></i>&nbsp; 
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" style="text-transform: uppercase;" id="name" formControlName="name" class="form-control">
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('name')?.hasError('required') && registrationForm.get('name')?.touched" class="text-danger">
                              Name is required.
                            </div>
                            <div *ngIf="registrationForm.get('name')?.hasError('pattern') && registrationForm.get('name')?.touched" class="text-danger">
                              Name must contain only letters and spaces.
                            </div>
                          </div>
                      </div>                      
                    
                      <div class="form-group">
                        <i class="fa fa-phone icon"></i>&nbsp;
                        <label for="contact">Contact <span class="required">*</span></label>
                        <input type="text" id="contact" formControlName="contact" class="form-control">
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('contact')?.hasError('required') && registrationForm.get('contact')?.touched" class="text-danger">
                                Contact is required.
                            </div>
                            <div *ngIf="registrationForm.get('contact')?.hasError('pattern') && registrationForm.get('contact')?.touched" class="text-danger">
                                Contact must start with 6, 7, 8, or 9, followed by 9 digits.
                             </div>
                        </div>
                      </div>
                    
              
                  </div>
                  <div style="padding: 0px !important; padding-left: 34px !important ;" class="col-md-6">
              
                    <div class="form-group">
                      <i class="fa fa-envelope icon"></i>&nbsp;
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" style="text-transform: lowercase;" id="email" formControlName="email" class="form-control" placeholder="Email">
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched" class="text-danger">
                                Email is required.
                              </div>
                              <div *ngIf="registrationForm.get('email')?.hasError('pattern') && registrationForm.get('email')?.touched" class="text-danger">
                                  Enter a valid email address.
                              </div>
                        </div>
                      </div>
                      
                      <div  class="form-group">
                        <i class="fa-duotone fa-key icon"></i>&nbsp;
                        <label for="password">Password <span class="required">*</span></label>
                        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched" class="text-danger">
                                Password is required.
                              </div>
                              <div *ngIf="registrationForm.get('password')?.hasError('minlength') && registrationForm.get('password')?.touched" class="text-danger">
                                  Password must be at least 8-15 characters long.
                              </div>
                              <div *ngIf="registrationForm.get('password')?.hasError('maxlength') && registrationForm.get('password')?.touched" class="text-danger">
                                  Password cannot exceed 15 characters.
                                </div>
                              <div *ngIf="registrationForm.get('password')?.hasError('pattern') && registrationForm.get('password')?.touched" class="text-danger">
                                  Need at least one lowercase letter, uppercase letter, a digit, and a special character.
                              </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <i class="fa fa-venus-mars icon"></i>&nbsp;
                        <label for="gender">Gender <span class="required">*</span></label>
                        <select style="text-transform: capitalize;" id="gender" formControlName="gender" class="form-control">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                        <div class="error-container">
                            <div *ngIf="registrationForm.get('gender')?.hasError('required') && registrationForm.get('gender')?.touched" class="text-danger">
                                Gender is required.
                              </div>
                        </div>
                      </div>
                      
                  </div>
                </div>
                <button  (click)="onRegistration()" class="btn btn-success" type="button">Register</button>
                <button (click)="cLose()" class="btn btn-secondary" type="button">Close</button>
              
              </form>
            
        </div>

      </div>
   
</div>