
.head{
    color: rgb(27, 52, 133);
    font-size: 220%;
    font-style: bold;
    font-weight: 800;
}

.col-md-7{
    font-size: 150%;
    font-style: bold;
    font-weight: 400;
}

.col-md-5{
    align-items: center;
}

.row{
    padding: 20px;
    padding-left: 50px;
    background-color: rgb(200, 219, 231);
}

.info{
    justify-content:center; 
    margin-top: 30px;
    font-size: 90%;
    width: 500px;
}

.infor{
    justify-content:center; 
    text-align: justify;
    font-style: bold;
    font-weight: 180;
    font-size: 120%;
    line-height: 1.5;
    padding-right: 30px;
}

.description{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 200%;
    font-style: bold;
    font-weight: 800;
    text-align: justify;
    color: #ff7b00;
  }

  .form-video{
    padding-left: 100px;
    padding-right: 130px;
  }