<div *ngIf="!log(); else loggedOut" class="foot-container">
  <div class="row">
      <div class="col-md-3">
        <img src="\assets\images\MergedImages.png">
      </div>
      <div class="col-md-9" style="padding-left:55% !important; padding-top:2% !important">
              <a class= "icon" href="#" class="fa fa-facebook"></a>
              <a class= "icon" href="https://x.com/pennanttech?t=NnoM-wdj62lboy_nweq3rQ&s=08" class="fa fa-twitter"></a>
              <a class= "icon" href="https://www.linkedin.com/company/pennant-technologies/" class="fa fa-linkedin"></a>
              <a class= "icon" href="https://youtube.com/@pennanttechnologies8844?si=MdjWDU54Mu1haLJ8" class="fa fa-youtube"></a>
              <a class= "icon" href="#" class="fa fa-instagram"></a>
      </div>
  </div>
   <div class="row">

    <div class="col-md-4">
      <div class="logo-container">
        <p>Pennant Technologies is an agile, innovative financial technology company that powers the lending operations of global banks and financial institutions. Its suite of future ready lending products and solutions offer banks composable features and scalable capabilities to deliver differentiated loan origination, servicing and collections experiences for their customers. Trusted by leading banks and financial institutions in Asia, Pennant’s award winning lending platform has managed more than 14 Million loans and facilitates 100 Million loan transactions per year.</p>
      </div>    
    </div>

    <div class="col-md-2">
      <h3>ABOUT US</h3>
      <a  [routerLink]="['/company']">Company</a><br>
      <a [routerLink]="['/ourstory']">Our Story</a><br>
      <a [routerLink]="['/partnerShip']">Partners</a><br>
    </div>

    <div class="col-md-2">
      <h3>PRODUCTS</h3>
      <a [routerLink]="['/product']">Lending Factory</a><br>
      <a [routerLink]="['/client']">Clients</a><br>
    </div>

    <div class="col-md-2">
      <h3>RESOURCES</h3>
      <a [routerLink]="['/brochure']">Brochures</a><br>
    </div>

    <div class="col-md-2">
      <h3>SUPPORT</h3>
      <a [routerLink]="['/contact']">Contact</a><br>
      <a [routerLink]="['/becomePartner']">Become a Partner</a><br>
    </div>

  </div>
</div>

<ng-template #loggedOut>
  <div class="foot-container">
    <div class="col-md-3">
      <img src="\assets\images\MergedImages.png">
      
    </div>
    <div class="row">
  
      <div class="col-md-4">
        <div class="logo-container">
          <p>Pennant Technologies is an agile, innovative financial technology company that powers the lending operations of global banks and financial institutions. Its suite of future ready lending products and solutions offer banks composable features and scalable capabilities to deliver differentiated loan origination, servicing and collections experiences for their customers. Trusted by leading banks and financial institutions in Asia, Pennant’s award winning lending platform has managed more than 14 Million loans and facilitates 100 Million loan transactions per year.</p>
        </div>    
      </div>
  
      <div class="col-md-2">
        <h3>ABOUT US</h3>
        <a >Company</a><br>
        <a >Our Story</a><br>
        <a >Partners</a><br>
      </div>
  
      <div class="col-md-2">
        <h3>PRODUCTS</h3>
        <a >Lending Factory</a><br>
        <a >Clients</a><br>
      </div>
  
      <div class="col-md-2">
        <h3>RESOURCES</h3>
        <a >Brochures</a><br>
      </div>
  
      <div class="col-md-2">
        <h3>SUPPORT</h3>
        <a >Contact</a><br>
        <a>Become a Partner</a><br>
      </div>
  
    </div>
  </div>
</ng-template>

<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <p>&© 2022 All Rights Reserved, Pennant Technologies.</p>
    </div>
    <div class="col-md-6">
     
      <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>&nbsp; &nbsp; &nbsp;
      <a href="https://www.pennanttech.com/recruitment-privacy-policy/">Recruitment Privacy Policy</a>&nbsp; &nbsp; &nbsp;
      <a href="https://www.pennanttech.com/terms-of-use/">Terms of Service</a>&nbsp; &nbsp; &nbsp;
      <a href="https://www.pennanttech.com/disclaimer/">Disclaimer</a>&nbsp; &nbsp; &nbsp;
    </div>
  </div>
   
</div>
