<div class="insight">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Insights</h1>           
        </div>
    </div>
        <div class="row">
            <div class="card-container col-md-4">
                    <div class="card">
                        <img src="\assets\images\insights\15-1-UPI.png" alt="Avatar" style="width:100%">
                        <div class="card-content">
                            <div class="title">
                                <h2 class="card-title"><b>Key Technology Considerations for Banks to Launch Credit Line on UPI Operations</b></h2>
                            </div>
                            <p class="card-update">November 29, 2023</p>
                        </div>
                    </div>
            </div>
        
            <div class="card-container col-md-4">
                <div  class="card" (click)="goToBlog('Making Lending ‘future-ready’')" >
                    <img src="\assets\images\insights\reimagining-lending.png" alt="Avatar" style="width:100%">
                    <div class="card-content">
                        <div class="title">
                            <h2 class="card-title"><b>Making Lending ‘future-ready’: A tete-a-tete with Pennant’s founders</b></h2>
                        </div>
                        <p class="card-update">November 4, 2023</p>
                    </div>  
                </div>
            </div>

            <div class="card-container col-md-4">
                <div class="card">
                    <img src="\assets\images\insights\credit-upi.png" alt="Avatar" style="width:100%">
                    <div class="card-content">
                        <div class="title">
                            <h2 class="card-title"><b>How Credit line on UPI can reimagine lending in India</b></h2>
                        </div>
                        <p class="card-update">October 31, 2023</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-container col-md-4">
                <div class="card">
                    <img src="\assets\images\insights\non-bank_lenders.png" alt="Avatar" style="width:100%">
                    <div class="card-content">
                        <div class="title">
                            <h2 class="card-title"><b>Non-Bank Lenders: Enhancing Resilience Through Loan Lifecycle Management</b></h2>
                        </div>
                        <p class="card-update">October 11, 2023</p>
                    </div>
                </div>
            </div>
        
            <div class="card-container col-md-4">
                <div class="card">
                    <img src="\assets\images\insights\bridgingTheHare.png" alt="Avatar" style="width:100%">
                    <div class="card-content">
                        <div class="title">
                            <h2 class="card-title"><b>Bridging the Hare and Tortoise Divide</b></h2>
                        </div>
                        <p class="card-update">September 20, 2023</p>
                    </div>
                </div>
            </div>

            <div class="card-container col-md-4">
                <div class="card">
                    <img src="\assets\images\insights\DawnOfsmarter.png" alt="Avatar" style="width:100%">
                    <div class="card-content">
                        <div class="title">
                            <h2 class="card-title"><b>The Dawn of Smarter, Friendlier Debt Collections</b></h2>
                        </div>
                        <p class="card-update">September 11, 2023</p>
                    </div>
                </div>
            </div>
        </div>
</div>
