<div class="become-partner">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Industry Leading, Next Generation Fintech Products and Solutions</h1>
                <div class="info">
                    <p>Delivering accelerated time to market, exceptional customer experience and operational efficiencies</p>
                </div>            
        </div>
    </div>

    <div class="body">
        <h1>Meet our Partners</h1>
        <p class="infor">Our partnership model takes a 360-degree holistic view of delivering value to our customers. Technology leaders, leading system integrators and strategic business partners help us deliver products and solutions that drive powerful business outcomes and shape the future of your company.</p>
        <p class="infor">Pennant’s partnership model focuses on matching the strengths, competencies and capabilities that complement ours to deliver leading-edge fintech products and solutions.</p>
    </div>

    <div class="form-body">
        <div class="row">

            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/partner/TechnologyPartner.jpg" alt="TechnologyPartner">
                <h2>Technology Partner</h2>
                <p class="infor">Vitalize & strengthen our product suite</p>
            </div>

            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/partner/ServicePartner.jpg" alt="ServicePartner">
                <h2>Service Partner</h2>
                <p class="infor">Support, implement & manage our products</p>
            </div>

            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/partner/BusinessPartner.jpg" alt="BusinessPartner">
                <h2>Business Partner</h2>
                <p class="infor">Position our products in the market</p>
            </div>

            <p class="paragraph">Partner to unlock and unleash your business potential.</p>
        </div>
    </div>

    <div class="endPart">
        <div class="row">
            <div class="col-md-6">
                <p>Become a Pennant Partner</p>
                <p>Join Pennant’s Partner Program</p>
            </div>
            <div class="col-md-6">
                <button (click)="go()">Apply now</button>
            </div>
        </div>
    </div>

</div>