div {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 30px;
   
    h2 {
      text-align: center;
    }
  
    label {
      display: block;
      margin: 10px 0;
    }
  
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  
    button {
      margin: 0 auto;//these margin and display helps to keep the button in center of the page
      display: block;//
      &:hover {
        background-color: #45a049;
      }
    }
  }
  