<div class="contact">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Get in touch</h1>
                <div class="info">
                    <p>Let's equip your organisation with right-fit digital solutions to ease your digital transformation journey.</p>
                </div>            
        </div>
    </div>
    <div class="description">
        <h1>Let’s bring greater agility to your business</h1>
        <p class="infor">As an insightful organisation that builds full-spectrum BFSI software products, Pennant has pioneered with enterprise-level applications that drive banking and financial services institutions to lead the market by offering superior customer experience. We equip you to be future-ready by delivering scalable software solutions</p>
    </div>
    <div class="block">
        <div class="row">
            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/contact/Charminar_pic.jpg" alt="Chanminar">
                <h2>India</h2>
                <h3>Registered Office</h3>
                <p>Pennant Technologies<br>
                    Block B, Level 1, Wing 2, Cyber Gateway<br>
                    L&T Infocity, Hitec City, Madhapur<br>
                    Hyderabad, Telangana 500081<br>
                    (+91) 40 42234400</p>
                <h3>Corporate Office</h3>
                <p>Pennant Technologies<br>
                    Block B, Level 1, Wing 2, Cyber Gateway<br>
                    L&T Infocity, Hitec City, Madhapur<br>
                    Hyderabad, Telangana 500081<br>
                    (+91) 40 42234400<br>
                    info@pennanttech.com</p>
                <h3>Development center (IN)</h3>
                <p><b>Visakhapatnam</b><br>
                    Plot# D2, Hill No.2, IT Park,<br>
                    Madhurawada, Visakhapatnam,<br>
                    Andhra Pradesh, India - 530045<br>
                    info@pennanttech.com</p>

            </div>
            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/contact/Europe.jpg" alt="Europe">
                <h2>Europe</h2>
                <p>Pennant Technologies<br>
                    17 Hanover Square, London, W1S1BN<br>
                    +44(0)20 30785800<br>
                    +44(0)7710 407576<br>
                    info@pennanttech.com</p>
            </div>
            <div class="col-md-4">
                <img class="d-block w-30 product" src="/assets/images/contact/Australia.jpg" alt="Australia">
                <h2>Australia</h2>
                <h3>Registered Office</h3>
                <p>Pennant Technologies Pty Ltd<br>
                    Suite 6, Level 2,<br>
                    29-31 Lexington Drive,<br>
                    Bella Vista, NSW 2153<br>
                    Australia<br>
                    info@pennanttech.com</p>
            </div>
        </div>
    </div>
    <div class="contact-info">
        <h1 style=" padding-left: 50px; padding-right: 50px; color: black; font-size: 240%">Contact Us</h1>
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/GeneralInformation.png" alt="GeneralInformation">
                <h4>General Information</h4>
                <p>Please send General Enquires to: info@pennanttech.com</p>
            </div>
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/TechnicalSupport.png" alt="TechnicalSupport">
                <h4>TechnicalSupport</h4>
                <p>24/7 Technical Support: support@pennanttech.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/SalesEnquirs.png" alt="SalesEnquirs">
                <h4>SalesEnquirs</h4>
                <p>Please send Sales & RFI/RFP Enquires to: sales@pennanttech.com</p>
            </div>
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/HumanResorces.png" alt="HumanResorces">
                <h4>HumanResorces</h4>
                <p>Please send HR Enquiries to: hr@pennanttech.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/Marketing.png" alt="Marketing">
                <h4>Marketing</h4>
                <p>Please send Marketing Enquiries to: marketing@pennanttech.com</p>
            </div>
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/Careers.png" alt="Careers">
                <h4>Careers</h4>
                <p>Please send your best profile to: jobs@pennanttech.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/ProductService.png" alt="ProductService">
                <h4>ProductService</h4>
                <p>Please send Product/Service Enquiries to: solutions@pennanttech.com</p>
            </div>
            <div class="col-md-6">
                <img class="d-block w-30 product" src="/assets/images/contact/contactUs/WebMaster.png" alt="WebMaster">
                <h4>WebMaster</h4>
                <p>Please send your feedback to: webmaster@pennanttech.com</p>
            </div>
        </div>
    </div>
</div>