.background-container {
    background-image: url('/assets/images/contact/contact2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 300px; /* Set a height for the container */
    position: relative;
    color: white; /* Set text color to contrast with the background */
    padding: 20px; /* Adjust padding as needed */
  }

  .text-overlay{
    font-size: 150%;
    font-style: bold;
    font-weight: 400;
    padding: 20px;
  }

  .head{
    color: white;
    font-size: 220%;
    font-style: bold;
    font-weight: 800;
}

.info{
    justify-content:center; 
    margin-top: 30px;
    font-size: 90%;
    width: 500px;
}

.infor{
    justify-content:center; 
    text-align: justify;
    font-style: bold;
    font-weight: 180;
    font-size: 120%;
    line-height: 1.5;
    width: 90%;
}

.description{
    padding: 50px;
    padding-left: 200px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 200%;
    font-style: bold;
    font-weight: 800;
    text-align: justify;
    color: #ff7b00;
  }

  .block{
    background-color: rgb(89, 93, 109) !important;
    color:  white;
    padding:60px;
  }

  .row{
    padding-left: 60px;
    padding-right: 60px;
  }

  h2{
    margin-top: 20px;
    font-size: 180%;
    font-style: bold;
    font-weight: 800;
    text-align: justify;
    color: #59cfbc;
  }

  h3{
      font-size: 120%;
      font-style: bold;
      font-weight: 500;
      text-align: justify;
      color: #59cfbc;
  }
  
  h4{
      font-size: 140%;
      font-style: bold;
      font-weight: 600;
      text-align: justify;
      color: rgb(33, 34, 109);
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: 400;
  }

  .contact-info{
    padding:100px;
  }

  .col-md-6{
    position: static;
    font-size: 120%;
    text-align: left;
  }

  .col-md-4{
    padding-right: 60px;
  }