
body {
    padding: 20px;
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgb(245 8 8 / 66%);
    border-radius: 12px;
    background-color: #ff7300d4;
  }

  .error {
    color: white;
    background-color: rgb(247, 86, 86);
    font-size: 16px;
    width: 500px;
    padding: 10px;
    border: 1px solid darkred;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .success {
    color: white;
    background-color: rgb(117, 238, 117);
    font-size: 16px;
    width: 500px;
    padding: 10px;
    border: 1px solid darkgreen;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal-content {
    width: 40% !important;
  }
  