<div>
    <div class="header">
        <app-header></app-header>
    </div> 
     <div class="scrollBar">  <app-scroll-indicator></app-scroll-indicator> </div>
    
    <div class="main-content">
            <app-loader></app-loader>
            <router-outlet></router-outlet>
            <button (click)="scrollToTop()">^</button>
            <div id="globalLoader" class="global-loader"><h1>LOADING</h1></div>
    </div> 
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>