.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white !important;
  padding-right: 30px;
  user-select: none;
  cursor: pointer; 
}


body {
  //margin: 0;
  font-family: Arial, sans-serif; /* Set a default font */
}

div {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.main-content{
  padding-top: 74px;
  padding-left: 0px !important;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #2C394B ;
  color: #fff;
  text-align: center;
  padding: 6px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }


.sidebar {
    width: 200px;
    position: fixed;
}

.toolTip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
  background-color: rgb(184, 179, 179);
  color: black;
  border: 1px solid black;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  visibility: hidden;
  opacity: 0;
}

.toolTip button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.toolTip.visible {
  visibility: visible;
  opacity: 1;
}


.toolTip button:hover {
  color: rgb(245, 84, 10);
  background-color: white;
  border-radius: 4px;
  border-color: rgb(245, 84, 10);
  box-shadow: 2px 2px 4px rgb(245, 84, 10);
}

.toolTip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toolTip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: white;
  border-color: rgb(245, 84, 10);
  box-shadow: 2px 2px 4px rgb(245, 84, 10);
  color: rgb(245, 84, 10);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  right: -20px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}

.overlayed::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1000; /* Adjust z-index based on your needs */
}


