<div class="privacy-policy">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Privacy Policy</h1>   
        </div>
    </div>

    <div class="text">
        <h1>Pennant Privacy Policy</h1>
        <p>Pennant Technologies Private Limited (“us”, “we”, or “our”, Pennant) operates www.pennanttech.com (the “Site”). 
            The following statement highlights our privacy practices regarding Personal Information that we may collect and 
            store through this website and for the Personal Information that you provide us while interacting with us on our 
            website (this “Site”). </p>
        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you consent to the 
            collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, 
            terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at the Site.</p>
    
        <h2>Information Collection And Use.</h2>
        <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used 
            to contact or identify you. Personally identifiable information may include, but is not limited to, your name, 
            email address, postal address and phone number (“<b>Personal Information</b>”).</p>

        <h2>What happens if you don’t give us your data.</h2>
        <p>You can access this Site without giving us your Personal Information or providing your consent. Some Personal Information 
            is necessary so that Pennant can supply you with the services you have purchased or requested, and to authenticate you so
             that we know it is you and not someone else. Please note, that if you do not give us your data, we most likely will not be able to communicate with you and provide you with our services.</p>
    </div>
</div>