.background-container {
    background-image: url('/assets/images/footer/background.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 300px; /* Set a height for the container */
    position: static;
    color: rgb(27, 52, 133);
    padding: 20px; /* Adjust padding as needed */
  }

  .text{
    padding: 80px;
    padding-left: 100px;
    color: #000!important;
    font-size: 12px;
    font-weight: 100;
    line-height: 10px;
    padding-bottom: 8px;
    text-align: justify;
  }

  .head{
    color: rgb(27, 52, 133);
    font-size: 250%;
    font-style: bold;
    font-weight: 800;
    width: 800px;
    line-height: 1;
    padding-left: 10px;
}

h1, h2{
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1px;
  padding-bottom: 0px !important;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

p{
    justify-content:center; 
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    font-style: bold;
    font-weight: 180;
    padding-right: 30px;
    padding-bottom: 14px;
}

