<div class="privacy-policy">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">Privacy Policy</h1>   
        </div>
    </div>

    <div class="text">
        <h1>Pennant Privacy Policy</h1>
        <p>Pennant Technologies Private Limited (“us”, “we”, or “our”, Pennant) operates www.pennanttech.com (the “Site”). 
            The following statement highlights our privacy practices regarding Personal Information that we may collect and 
            store through this website and for the Personal Information that you provide us while interacting with us on our 
            website (this “Site”). </p>
        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you consent to the 
            collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, 
            terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at the Site.</p>
    
        <h2>Information Collection And Use.</h2>
        <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used 
            to contact or identify you. Personally identifiable information may include, but is not limited to, your name, 
            email address, postal address and phone number (“<b>Personal Information</b>”).</p>

        <h2>What happens if you don’t give us your data.</h2>
        <p>You can access this Site without giving us your Personal Information or providing your consent. Some Personal Information 
            is necessary so that Pennant can supply you with the services you have purchased or requested, and to authenticate you so
             that we know it is you and not someone else. Please note, that if you do not give us your data, we most likely will not be able to communicate with you and provide you with our services.</p>
        
        <h2>Log Data.</h2>
        <p>Like many site operators, we collect information that your browser sends whenever you visit our Site (“Log Data”). 
            This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type, 
            browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those 
            pages and other statistics.</p>

        <h2>Cookies.</h2>
        <p>When you visit our Site, the Site Publisher may install a “cookie” on your computer. Cookies are files with small amount of data, which may include an anonymous unique identifier.
             Cookies are sent to your browser from a web site and stored on your computer’s hard drive.</p>

        <p>Like many sites, we use “cookies” to collect information. Cookies help us remember your settings to provide you with a better browsing experience; allow us to assess, monitor, 
            and improve the website’s performance; and enable our partners to advertise to you. You may disable the cookies by changing the settings in your browser, and you may tell us 
            not to share your cookie data with third parties. By using this website, you consent to the use of cookies as described in the Pennant Data Privacy Policy.</p>

        <p>Please note that your cookie settings may affect your access to the Site and its features, or change the way they work, and may thus limit its performance.</p>

        <h2>Security.</h2>
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. 
            While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security. Pennant intends to protect your Personal Data and to 
            maintain its accuracy, and we implement reasonable administrative, physical security, and technical controls in order to safeguard your Personal Data from unauthorised access, use and disclosure.</p>

        <h2>Links To Other Sites.</h2>
        <p>Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. 
            We strongly advise you to review the Privacy Policy of every site you visit.</p>
        
        <p>We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.</p>

        <h2>Retention of Personal Data.</h2>
        <p>Personal Data will be retained as per applicable legal requirements at that point in time.</p>

        
    </div>
</div>