<div class="blog">
    <div class="background-container">
        <div class="text-overlay">
            <h1 class="head">Blog</h1>
        </div>
    </div>

    <div class="row">
         <!-- blog block ends here -->
        <div class="col-md-8">
            <div class="content">
                <div *ngIf="blogId === 'Making Lending ‘future-ready’'">
                    <!--<h1> {{ blogId }}</h1> Content to display when blogId is equal to the specified string -->
                    <h2>Making Lending ‘future-ready’: A tete-a-tete with Pennant’s founders</h2>
                    <h4>By Satish Wadhwa , on November 4, 2023</h4>
                    <img src="\assets\images\insights\reimagining-lending.png" alt="Avatar" style="max-width: 100%; height:40%;">
                    <p>During their recent visit to Australia for the COBA23 Summit, I got to chat with Pennant’s founders and 
                        Head of Growth regarding the company’s vision of expanding in the Australian market. In this article, 
                        I present excerpts from the conversation covering the vision behind the company, its flagship lending
                         platform, the execution, and what’s in store for the company in the future.</p>
                    <p>(Since this conversation, Bajaj Finance Ltd.,India’s biggest non-bank lender, has announced its plans to 
                        acquire 26% stake in Pennant, as a strategic investment to strengthen its product and technological roadmap. 
                        This has given wings to Pennant’s vision of international expansion.)</p>
                </div>
            </div>
        </div>
            <!-- blog block ends here -->
            <!-- subscribe form started-->
        <div class="col-md-4">

        </div>
    </div>
    
</div>
