<div class="content">
    <div class="product" >
        <h2 align="center"><b>pennApps product suite</b></h2>
        <div class="justify">
            <body><p>Pennant builds and deploys customer-focused products for you to adapt well to the changing needs of 
                your customers and the evolving market. With Pennant, you will be able to gain an edge in the banking and 
                finance industry by tackling the emerging regulatory pressures. Leverage our interactive features to carry 
                out targeted communication and improve customer experience.</p></body>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 icon">
                        <img class="d-block w-30" src="assets/images/products/icon/Icon1.png" alt="First slide">
                        <p style="font-size: 20px; color: rgb(4, 110, 197); font-style: bold;">Excellent functional breadth</p>
                    </div>
                    <div class="col-md-4 icon">
                        <img class="d-block w-30" src="assets/images/products/icon/Icon2.png" alt="First slide">
                        <p style="font-size: 20px; color: rgb(4, 110, 197); font-style: bold;">Agility and adaptability</p>
                    </div>
                    <div class="col-md-4 icon">
                        <img class="d-block w-30" src="assets/images/products/icon/Icon3.png" alt="First slide">
                        <p style="font-size: 20px; color: rgb(4, 110, 197); font-style: bold;">Platform independence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="secondWidget">
        <p class="solution">A novel concept of process-driven execution engines with multitude of functional factories to define, 
            deploy and manage your business processes without any dependency on the vendor or internal technology teams, 
            a complete lending solution at your disposal!</p>

        <div class="row">
            <div class="col-md-6 icon">
                <img class="d-block w-30 product" src="assets/images/products/productSuite/LoanOriginating.png" alt="LoanOriginating">
                <h1 class="headLoan">Loan Origination System</h1>
                <ul>
                    <li>Configurable and Customisable</li>
                    <li>What-If simulations enables consumers explore various scenarios (EMI and repayment)</li>
                    <li>200+ APIs for Seamless Integration & Communication</li>
                    <li>Flexible System for Changing Compliance & Regulatory Requirements</li>
                    <li>Convenient loan disbursements with multiple disbursement modes support</li>
                </ul>
            </div>

            <div class="col-md-6 icon">
                <img class="d-block w-30 product" src="assets/images/products/productSuite/LoanManagement.png" alt="LoanManagement">
                <h1 class="headLoan">Loan Management System</h1>
                <ul>
                    <li>Complete loan life cycle management for consumers</li>
                    <li>Schedule Repayment Hierarchy (SRH) for flexible prioritization of instalment components</li>
                    <li>Risk-free efficient workflow of lending cycle through rule engine</li>
                    <li>Support of multiple options for ‘Interest in suspense’ calculation ( manual and customer level)</li>
                </ul>
            </div>
        
            <div class="col-md-6 icon">
                <img class="d-block w-30 product1" src="assets/images/products/productSuite/Digital_Enablers.png" alt="Digital_Enablers">
                <h1 class="headLoan">Digital Enablers</h1>
                <ul>
                    <li>Lead Generation to strengthen customer acquisition and sales cycle</li>
                    <li>Cross selling to offer customers contextual and customised solutions</li>
                    <li>Seamless integration with diverse IT platforms for improved operational efficiencies</li>
                    <li>Multi-lingual support via NLP(Natural Language Processing) for easy conversations</li>
                    <li>“Always-on” AI driven conversational capabilities</li>
                </ul>
            </div>

            <div class="col-md-6 icon">
                <img class="d-block w-30 product1" src="assets/images/products/productSuite/Collections.png" alt="Collections">
                <h1 class="headLoan">Collections</h1>
                <ul>
                    <li>Intuitive dashboards capturing data points for better control & timely corrective actions</li>
                    <li>Proactive response for Delinquency Management to speed collections process</li>
                    <li>Legal & Write-off features managed till closure for easy settlements</li>
                    <li>Informed decision making achieved through rule-based workflows</li>
                    <li>Promise To Pay Management for improved collector efficiency and customer relationships</li>
                </ul>
            </div>

        </div>
    </div>
  
    <div class="extend">

        <h1 style="font-weight: bold; color: black; font-size: 200%; padding-top: 40px; padding-left: 50px;">Inventing the future of banking</h1>
        <p class="solution" style="padding-top :10px; font-size: 150%">Technology is the new and valuable partner of financial institutions. 
            The future belongs to the institutions that embrace it first. Pennant helps you do so with less turbulence. Leverage our expertise to 
            accelerate transformation, increase customer engagement and deliver value</p>
    
            <div class="row"  style="padding-left: 50px;">
            <div class="col-md-6 icon">
                <img class="d-block w-30 product" src="assets/images/products/Lending/Lendinag.png" alt="Lendinag">
                <h1 class="headingLoan">Lending</h1>
                <h1 class="headingLoan">        </h1>
                <p style="margin-left:50px ; margin-top: 10px ;">Simplify your entire loan lending portfolio end-to-end and improve customer relation.</p>
            </div>

            <div class="col-md-6 icon">
                <img class="d-block w-30 product" src="assets/images/products/Lending/Retail_banking.png" alt="Retail_banking">
                <h1 class="headingLoan">Retail banking</h1>
                <p style="margin-left:50px ;margin-top: 10px ;">Transform personal banking experience with all-encompassing digital solutions.</p>
            </div>
        </div>

        <div class="row" style="padding-left: 50px;">
            <div class="col-md-6 icon">
                <img class="d-block w-30 product1" src="assets/images/products/Lending/Payments.png" alt="Payments">
                <h1 class="headingLoan">Payments</h1>
                <p style="margin-left:50px; margin-top: 10px ;">Adopt the modern payment methods that save time and manpower effectively. </p>
            </div>

            <div class="col-md-6 icon">
                <img class="d-block w-30 product1" src="assets/images/products/Lending/Core_banking.png" alt="Core_banking">
                <h1 class="headingLoan">Core banking</h1>
                <p style="margin-left:50px; margin-top: 10px ;">Meet the needs of your customers by adding more capabilities to your banking processes.</p>
            </div>
        </div>

    </div>
</div>
  