<div class="brochure">
    <div class="background-container">
        <div class="text-overlay">
                <h1 class="head">With Pennant, explore the infinite possibilities of growth</h1>
                <div class="info">
                    <p>Download the brochure to learn more about our learnings</p>
                </div>            
        </div>
    </div>

    <div class="form">
        <h2>Power your services. Empower your customers.</h2>
        <p class="para">To help you adapt to the ever-dynamic markets of banking and finance, we provide a range of products and services that bring your customers closer to you. When your services are powered by Pennant, your customers are empowered to do more.</p>
        <ul>
            <li><a href="https://pennanttech.com/download-brochures/Pennant_Corporate_Brochure.pdf">Pennant Corporate Brochure</a></li>
            <li><a href="https://pennanttech.com/download-brochures/Brochure1-Combined_PLF_Lending_Simplified.pdf">PennApps Lending Factory</a></li>
            <li><a href="https://pennanttech.com/download-brochures/Pennant_Datasheet_Pennbot.pdf">Pennant Datasheet Pennbot</a></li>
            <li><a href="https://pennanttech.com/download-brochures/PennApps-Communication-Manager.pdf">PennApps Communication Manager</a></li>
            <li><a href="https://pennanttech.com/download-brochures/PennApps-Finance-Factory.pdf">PennApps Finance Factory</a></li>
            <li><a href="https://pennanttech.com/download-brochures/PennApps-Cross-Sell.pdf">PennApps Cross Sell</a></li>
            <li><a href="https://pennanttech.com/download-brochures/PennApps-Bill-Pay.pdf">PennApps Bill Pay</a></li>
            <li><a href="https://pennanttech.com/download-brochures/pennApps-Host-Integrator.pdf">PennApps Host Integrator</a></li>
        </ul>
    </div>
</div>