
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f84c08;
    border-radius: 40%;
    animation: spin 2s linear infinite;
    display: block;
    border-top: 16px solid #f07d50;
    border-right: 16px solid#f37544;
    border-bottom: 16px solid #fc500c;
    border-left: 16px solid #fc4a03;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  