<div  class="company">

    <div class="row">
        <div class="col-md-7">
            <h1 class="head">Business Capabilities for future</h1>
            <div class="info">
                <p>Our wealth of experience in the BFSI sector enables us to provide solutions that meet global business expectations.</p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="d-block w-90" src="assets\images\aboutUs\about.jpg" alt="about">
        </div>
    </div>

    <div class="form">
        <div class="form-row">
            <div class="col-md-6">
                <h1>Overview</h1>
                <p class="infor">Since Pennant’s inception in 2005, the company has come a long way. Starting with few banks as customers, supporting their enterprise application integration needs, we have established ourselves as an agile, innovative fintech company that delivers highly scalable and configurable products for the global financial services industry.</p>
            </div>
            <div class="col-md-6">
                <img class="d-block w-50" src="assets\images\dashboard\Overview_pic.jpg" alt="Overview">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <h1>Our Purpose</h1>
                <p class="infor">To build innovative products and solutions with the highest level of passion and integrity that enable you to transform, disrupt, and deliver differentiated value to your customers.</p>               
            </div>
            <div class="col-md-6">
                <img class="d-block w-50" src="assets\images\aboutUs\company.jpg" alt="company">
            </div>
        </div>
    </div>

    <div class="value">
        <h2>Values</h2>
        <p class="infor">Our values are core to our organisational philosophy and culture. We are guided by them in all our endeavours.</p>
        <div style="background-color:  rgb(129, 212, 185);" class="row">
            <div class="col-md-3">
                <p style="padding-left: -60px;" class="infor"><b>></b> We are passionate about our products and solutions and the value they deliver to our customers.</p>
            </div>
            <div class="col-md-3">
                <p class="infor"><b>></b> We empower our associates with the right environment and tools to build, experiment and deliver innovative products and solutions to our customers.</p>
            </div>
            <div class="col-md-3">
                <p class="infor"><b>></b> We are steadfast on our integrity, commitment and accountability to all our stakeholders.</p>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(72, 76, 92); color: white;" class="'form">
        <div class="data">
            <h3>Our Value Proposition</h3>
            <p class="infor">We are driven purely by customer-centricity. All our efforts towards building products and solutions are directed towards achieving our customers’ core business imperatives. ACT is our guiding principle that makes it happen.</p>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <img class="d-block w-10" src="assets\images\aboutUs\ACT-Image.png" alt="Overview">
            </div>
            <div class="col-md-5">
                <div class="block">
                    <h4>Add business value</h4>
                    <p class="infor">Offer business friendly and market-centered solutions that deliver differentiated customer experiences.</p>
                </div>
                <div class="block">
                    <h4>Cost optimisation</h4>
                    <p class="infor">Deliver products that streamline operations, drive efficiencies and reduce total cost of operations.</p>
                </div>
                <div class="block">
                    <h4>Time to market</h4>
                    <p class="infor">Products and solutions that support institutions achieve their speed-to-market goals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="founder">
        <div class="form-row">
            <div class="col-md-4">
                <img class="d-block w-10" src="assets/images/leaders/RajuSir.png" alt="RajuSir">
                <div class="sub">
                    <h4 style="color: rgb(27, 52, 133) !important;">Rama Krishna Raju</h4>
                        <p style="color: rgb(27, 52, 133) !important;">Director & CEO</p>
                    <p class="infor">We are an organization led by a strong purpose of delivering value to all our stakeholders. Pennant is focused on delivering high quality, innovative products and solutions to our customers, and providing an exceptional platform for our employees to grow as strong leaders and importantly improving the communities we operate in. We will always strive to raise the bar in making a difference.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="d-block w-10" src="assets/images/leaders/Pradeep.png" alt="Pradeep Varma">
                <div class="sub">
                    <h4 style="color: rgb(27, 52, 133) !important;">Pradeep Varma</h4>
                    <p style="color: rgb(27, 52, 133) !important;">Director & Co-founder</p>
                    <p class="infor">We are an organization led by a strong purpose of delivering value to all our stakeholders. Pennant is focused on delivering high quality, innovative products and solutions to our customers, and providing an exceptional platform for our employees to grow as strong leaders and importantly improving the communities we operate in. We will always strive to raise the bar in making a difference.</p>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <p style= "padding: 120px !important; width: 130%; font-size: 18px !important;" class="infor"><b> We are on a mission to build future-ready products for the global banking and financial services industry. Get to know the team behind our world-class products.</b></p>
                </div>
                <div class="col-md-4">
                    <button (click)="go()">Our LeaderShip</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
