
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Sample-primary: mat.define-palette(mat.$indigo-palette);
$Sample-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Sample-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Sample-theme: mat.define-light-theme((
  color: (
    primary: $Sample-primary,
    accent: $Sample-accent,
    warn: $Sample-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Sample-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.global-loader-fade-in {
  opacity: 0;
}

.global-loader-hidden {
  display: none;
}

.global-loader h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: .04rem;
  white-space: pre;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:
    repeating-linear-gradient(
      to right,
      #f44336,
      #9c27b0,
      #3f51b5,
      #03a9f4,
      #009688,
      #8bc34a,
      #ffeb3b,
      #ff9800
    );
  background-size: 750% auto;
  background-position: 0 100%;
  animation: gradient 20s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -750% 0;
  }
}

body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::selection { // to make this style while selecting the text
  color: white;
  background: rgb(245, 129, 46) !important;
}