<body><div class="container">

    <h1 class="heading">Leadership</h1>
    <div class="format">
        
        <div class="row">
            <div class="col-md-4 icon">
                <img class="d-block w-30" src="assets/images/leaders/RajuSir.png" alt="Rama Krishna Raju">
                <p class="leader-name">Rama Krishna Raju</p>
                <p class="leader-role">Director & CEO</p>
            </div>

            <div class="col-md-4 icon">
                <img class="d-block w-30" src="assets/images/leaders/Pradeep.png" alt="Pradeep Varma">
                <p class="leader-name">Pradeep Varma</p>
                <p class="leader-role">Director & Co-founder</p>
            </div>
        </div>
    </div>
    
    <div>
        <button class="'moreBtn" (click)="toggleInfo()">More Info <span class="down-indicator">&#9660;</span></button>
        <div *ngIf="showInfo">
           
                <div class="image-container">
                    <div class="row">
                        <div class="col-md-8 icon"><p class="name">Rama Krishna Raju</p></div>
                        <div class="col-md-4 icon"><img class="imageicon" src="assets/images/leaders/RajuSir.png" alt="Rama Krishna Raju"></div>                       
                    </div>
                </div>

                    <p class="info">Rama Krishna Raju is the co-founder and CEO of Pennant Technologies. 
                        Raju's passion for technology and visionary zeal led him on the entrepreneurial journey 
                        of building world-class products for the banking and financial services industry. 
                        Since its inception in 2005, Pennant Technologies has seen consistent and industry-leading 
                        growth. Over the years, the company has won numerous industry recognitions and awards.</p>

                    <p class="info">With over 20+ years' experience purely in the financial technology space, with a major part 
                        in leading and managing transformational programs for leading banks and financial institutions 
                        in middle-east Asia, Raju brings deep domain knowledge, extensive experience, and strong leadership 
                        in retail, corporate and treasury functions of the banking industry. He has spoken at various forums 
                        and shared his deep understanding and insights on various technology and financial services topics. 
                        Raju is a member of the FICCI National Committee on Fintech. </p>

                    <p class="info">Raju holds a degree in Computer Science and is based out of Hyderabad, India.</p>
           
                <div class="image-container">
                    <div class="row">
                        <div class="col-md-8 icon"><p class="name">Pradeep Varma</p></div>
                        <div class="col-md-4 icon"><img class="imageicon" src="assets/images/leaders/Pradeep.png" alt="Pradeep Varma"></div>                       
                    </div>
                </div>

                     <p class="info">Pradeep Varma is the co-founder of Pennant Technologies. Entrepreneurial instinct and passion 
                        for building technology products and solutions to address the problems and opportunities in the banking space 
                        led him to the idea of starting Pennant. Pradeep is responsible for product vision and development, and over the 
                        years has been instrumental in launching several new products that helped banks and financial institutions innovate, 
                        drive operational efficiencies and deliver superior customer experiences. Some of the products have received global 
                        recognitions including from analysts and industry bodies.</p>

                    <p class="info">With over 20+ years' experience, Pradeep has a significant understanding and experience of the financial 
                        services industry. He has worked in a leadership position for some of the leading banks and financial institutions 
                        in middle-east Asia. Among significant accomplishments, he successfully led the transformation of the application 
                        landscape of a large bank in UAE while transitioning from a conventional bank to an Islamic Bank.</p>

                    <p class="info">Pradeep holds a degree in Civil Engineering and is based out of Hyderabad, India.</p>
                
                    <button class="'moreBtn"  (click)="toggleCloseInfo()">Less Info <span class="up-indicator">&#9660;</span></button>

        </div>
    </div>


    <div class="description">
        <h1 class="head">Leadership team</h1>
        <p class="info">Pennant is positioned to tackle technical challenges and we owe this personality to the business 
            acumen of our management team. This is the reason why we are able to deliver simple, lucid, and cost-effective 
            tech-solutions. We play a proactive role in helping our clients meet their customers’ needs irrespective of the 
            size of the company. Pennant’s interest in long-term business relationships also made us the most trusted partner
            in the BFSI sector.</p>
    </div>

    <div class="row">
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/RaviVarmaDatla.png" alt="Ravi Varma Datla">
            <p class="lead-name">Ravi Varma Datla</p>
            <p class="lead-role">Director, Consulting</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/SriKrishna.png" alt="P Sai Krishna">
            <p class="lead-name">P Sai Krishna</p>
            <p class="lead-role">Associate Vice President, Engineering</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/Sirish.png" alt="Sireesh Patnaik">
            <p class="lead-name">Sireesh Patnaik</p>
            <p class="lead-role">Senior Vice President, Product Engineering</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/Ganesh.png" alt="Ganesh Ramani">
            <p class="lead-name">Ganesh Ramani</p>
            <p class="lead-role">Sr. Vice President, Sales & Business Development</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/Prasant.png" alt="Prashant Anil K">
            <p class="lead-name">Prashant Anil K</p>
            <p class="lead-role">Vice President, Client Services</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets\images\leaders\srininvasa.png" alt="P A Srinivasa Varma">
            <p class="lead-name">P A Srinivasa Varma</p>
            <p class="lead-role">Head, Product Engineering</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/RaviS.png" alt="Ravi S">
            <p class="lead-name">Ravi S</p>
            <p class="lead-role">Head, Administration & Finance</p>
        </div>
        <div class="col-md-3 icon">
            <img class="d-block w-30" src="assets/images/leaders/Srinivas.png" alt="Shrinivas Krishna Rao">
            <p class="lead-name">Shrinivas Krishna Rao</p>
            <p class="lead-role">Vice President, Marketing</p>
        </div>
    </div>
</div>
</body>